{% extends "base.html" %}

{% block header %}
  {% include "header.html" %}
{% endblock header %}

{% block content %}
  <!-- content4  -->
  <div class="Shopcart">
    <div class="container">
      <h3 class="title">Shopcart</h3>
      <div class="row justify-content-center gy-4">
          <div class="col-10 col-sm-10 col-md-8">
              <div class="tablebox table-responsive">
                  <table class="table ">
                      <thead>
                        <tr>
                          <th scope="col">delete</th>
                          <th scope="col">product</th>
                          <th scope="col">name</th>
                          <th scope="col">$ price</th>
                          <th scope="col">quantity</th>
                          <th scope="col">update</th>
                          <th scope="col">$ amount</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">
                              <form action="">
                                  <input type="hidden"  name="" value="">
                                  <button type="submit"><i class="fa-solid fa-trash"></i></i></button>
                              </form>
                          </th>
                          <td><img src="/img/sc11.jpeg" alt=""></td>
                          <td>Marykay</td>
                          <td>20.00</td>
                          <td>9</td>
                          <td>
                              <form action="">
                                  <input type="number" value="1" min="1" max="10">
                                  <button class="submit"><i class="fa-solid fa-circle-check"></i></button>
                              </form>
                          </td>
                          <td>180.00</td>
                        </tr>
                        <tr>
                          <th scope="row">
                              <form action="">
                                  <input type="hidden"  name="" value="">
                                  <button type="submit"><i class="fa-solid fa-trash"></i></i></button>
                              </form>
                          </th>
                          <td><img src="/img/sc9.jpeg" alt=""></td>
                          <td>Lipstick</td>
                          <td>2.00</td>
                          <td>10</td>
                          <td>
                              <form action="">
                                  <input type="number" value="1" min="1" max="10">
                                  <button class="submit"><i class="fa-solid fa-circle-check"></i></button>
                              </form>
                          </td>
                          <td>50.00</td>
                        </tr>
                        <tr>
                          <th scope="row">
                              <form action="">
                                  <input type="hidden"  name="" value="">
                                  <button type="submit"><i class="fa-solid fa-trash"></i></i></button>
                              </form>
                          </th>
                          <td><img src="/img/sc12.jpeg" alt=""></td>
                          <td>Concealer</td>
                          <td>50.00</td>
                          <td>1</td>
                          <td> <form action="">
                              <input type="number" value="1" min="1" max="10">
                              <button class="submit"><i class="fa-solid fa-circle-check"></i></button>
                          </form></td>
                          <td>50.00</td>
                        </tr>
                      </tbody>
                      <tbody>
                          <tr>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td>Subtotal:</td>
                          </tr>
                          <tr>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td>vat:}</td>
                          </tr>
                          <tr>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td>grand total:</td>
                          </tr>
                      </tbody>
                    </table>
              </div>
          </div>
        </div>
    </div>
  </div>
  <!-- content4 done -->
  
  <!-- check out  -->
  <div class="checkout">
      <div class="container">
          <div class="row justify-content-center">
              <div class="col-10 col-sm-10 col-md-8">
                  <div class="accordion" id="accordionExample">
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Checkout
                          </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                              <div class="tablebox table-responsive">
                                  <table class="table ">
                                      <thead>
                                        <tr>
                                          <th scope="col">product</th>
                                          <th scope="col">name</th>
                                          <th scope="col">$ price</th>
                                          <th scope="col">quantity</th>
                                          <th scope="col">$ amount</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr>
                                          <td><img src="/img/sc11.jpeg" alt=""></td>
                                          <td>Marykay</td>
                                          <td>20.00</td>
                                          <td>9</td>
                                          <td>180.00</td>
                                        </tr>
                                        <tr>
                                          <td><img src="/img/sc9.jpeg" alt=""></td>
                                          <td>Lipstick</td>
                                          <td>2.00</td>
                                          <td>10</td>
                                          <td>50.00</td>
                                        </tr>
                                        <tr>
                                          <td><img src="/img/sc12.jpeg" alt=""></td>
                                          <td>Concealer</td>
                                          <td>50.00</td>
                                          <td>1</td>
                                          <td>50.00</td>
                                        </tr>
                                      </tbody>
                                      <tbody>
                                           <tr>
                                              <td></td>
                                              <td></td>
                                              <td></td>
                                              <td></td>
                                              <td>total</td>
                                          </tr>
                                      </tbody>
                                    </table>
                              </div>
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Delivery Address
                          </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                              <div class="address">
                                  <form>
                                      <div class="mb-3">
                                        <label for="exampleInputText1" class="form-label">First name</label>
                                        <input type="text" class="form-control" id="exampleInputtext1" aria-describedby="textHelp">
                                      </div>
                                      <div class="mb-3">
                                        <label for="exampleInputText1" class="form-label">Last name</label>
                                        <input type="text" class="form-control" id="exampleInputtext1" aria-describedby="textHelp">
                                      </div>
                                      <div class="mb-3">
                                        <label for="exampleInputText1" class="form-label">Delivery address</label>
                                        <input type="text" class="form-control" id="exampleInputtext1" aria-describedby="textHelp">
                                      </div>
                                      <div class="mb-3">
                                        <label for="exampleInputText1" class="form-label">city</label>
                                        <input type="text" class="form-control" id="exampleInputtext1" aria-describedby="textHelp">
                                      </div>
                                      <div class="mb-3">
                                        <label for="exampleInputText1" class="form-label">state</label>
                                        <input type="text" class="form-control" id="exampleInputtext1" aria-describedby="textHelp">
                                      </div>
                                      <div class="mb-3">
                                        <label for="exampleInputEmail1" class="form-label">Email Address</label>
                                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                                      </div>
                                      <div class="mb-3">
                                        <label for="exampleInputText1" class="form-label">Phone No</label>
                                        <input type="text" class="form-control" id="exampleInputtext1" aria-describedby="textHelp">
                                      </div>
                                      
                                      <button type="submit" class="btn btn-primary">Pay</button>
                                    </form>
                              </div>
                          </div>
                        </div>
                      </div>
                      
                    </div>
              </div>
          </div>
      </div>
  </div>
  <!-- checkout done  -->
{% endblock content %}